{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock %}
{% block title %}
    Shepherd
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="dogSlideshow" class="carousel slide mx-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#dogSlideshow" data-slide-to="0" class="active"></li>
                <li data-target="#dogSlideshow" data-slide-to="1"></li>
                <li data-target="#dogSlideshow" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/static/images/shepherd_1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/shepherd_2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/shepherd_3.jpg" alt="Third slide">
                </div>
                </div>
                <a class="carousel-control-prev" href="#dogSlideshow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#dogSlideshow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card text-white bg-primary">
        <div class="card-header"><h1>Shepherd</h1></div>
  <div class="card-body">

    <p class="card-text">The German Shepherd (German: Deutscher Schäferhund, German pronunciation: [ˈʃɛːfɐˌhʊnt]) is a breed of medium to large-sized working dog that originated in Germany. In the English language, the breed's officially recognized name is German Shepherd Dog (sometimes abbreviated as GSD). The breed was officially known as the Alsatian in Britain until 1977 when its name was changed back to German Shepherd. The German Shepherd is a relatively new breed of dog, with their origin dating to 1899. As part of the Herding Group, German Shepherds are working dogs developed originally for herding sheep. Since that time however, because of their strength, intelligence, trainability, and obedience, German Shepherds around the world are often the preferred breed for many types of work, including disability assistance, search-and-rescue, police and military roles, and acting. The German Shepherd is the second-most registered breed by the American Kennel Club and seventh-most registered breed by The Kennel Club in the United Kingdom</p>
      <p class="card-text"> <h4>Temperment: </h4> </p>
      <p class="card-text">German Shepherds are moderately active dogs and are described in breed standards as self-assured. The breed is marked by a willingness to learn and an eagerness to have a purpose. They are curious, which makes them excellent guard dogs and suitable for search missions. They can become over-protective of their family and territory, especially if not socialized correctly. They are not inclined to become immediate friends with strangers. German Shepherds are highly intelligent and obedient, as well as being protective of their owners.</p>

      <h2>Find a Shepherd: <a href="{{ url_for('AHS') }}" class="btn bg-light" style="align-content: right">Austin Humane Society</a></h2>
    <h2>Meet a Shepherd: <a href="{{url_for('dog_coco')}}" class="btn bg-light" style="align-content: right">Coco</a></h2>
    <h2>Source: <a href="https://en.wikipedia.org/wiki/German_Shepherd" class="btn bg-light" style="align-content: right">Shepherd</a></h2>
  </div>
</div>
{% endblock %}
