{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
{% endblock %}

{% block title %}
    Dogs
{% endblock %}

{% block content %}
<body>
    {% block cards %} {% endblock %}
    <style>
      .carousel-item{
        background-color: #7770;
        height: rem;
      }
    </style>
    <div class="container-fluid">
      <h1 class="text-center mb-3"><Available Dogs</h1>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner row w-auto mx-0">
          <!-- CARDS -->
          {% for nameref, name, img, visit in vars %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ img|e }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> "{{ name|e }}" </h4>

                  <a href='{{ url_for(nameref) }}' class="btn btn-primary">"{{ visit|e }}"</a>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
    <script  src="../static/js/index.js"></script>
</body>
{% endblock %}