{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock %}
{% block title %}
    Whiskey
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="dogSlideshow" class="carousel slide mx-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#dogSlideshow" data-slide-to="0" class="active"></li>
                <li data-target="#dogSlideshow" data-slide-to="1"></li>
                <li data-target="#dogSlideshow" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://www.austinpetsalive.org/assets/animals/_gallery/20170712045032_0_0.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://www.austinpetsalive.org/assets/animals/_gallery/20180214112311.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://www.austinpetsalive.org/assets/animals/_gallery/20180214112600.png" alt="Third slide">
                </div>
                </div>
                <a class="carousel-control-prev" href="#dogSlideshow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#dogSlideshow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card text-white bg-primary">
        <div class="card-header"><h1>Whiskey- 4 years</h1></div>
  <div class="card-body">
     <p class="card-text"> <h3>APA-A-33042</h3> </p>
    <p class="card-text">Like a fine spirit, Whiskey just keeps getting better with age! Whiskey is full of boundless love, loyalty, and affection. He is constantly rolling on the ground for belly rubs, especially if he can you think he's been a good boy about something - he rolls right over to get his reward. And you'd be doing that a lot because he IS a good boy. Whiskey is really smart and has a lot of skills under his belt - sit, down, place, come - he knows them all!</p>
      <p class="card-text">Whiskey is also house-trained and does well in his crate. When out of the crate, he knows what toys he can play with and what things are off limits. Though he loves a good romp or a game of fetch, he is equally fond of naps and lounging on the couch. Really, just being with his people is his favorite thing. He's just the most affectionate little love muffin you'll ever meet.</p>

      <h2>Shelter: <a href="{{ url_for('APA') }}" class="btn bg-light" style="align-content: right">Austin Pets Alive</a></h2>
    <h2>Breed: <a href="{{url_for('breed_retriever')}}" class="btn bg-light" style="align-content: right">Retriever</a></h2>
    <h2>More info: <a href="https://www.austinpetsalive.org/adopt/dogs/apa-a-33042" class="btn bg-light" style="align-content: right">Whiskey</a></h2>
  </div>
</div>
{% endblock %}
