{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock %}
{% block title %}
    Mayla
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="dogSlideshow" class="carousel slide mx-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#dogSlideshow" data-slide-to="0" class="active"></li>
                <li data-target="#dogSlideshow" data-slide-to="1"></li>
                <li data-target="#dogSlideshow" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="http://petharbor.com/get_image.asp?RES=Detail&ID=A585735&LOCATION=ASTN" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="http://petharbor.com/get_image.asp?RES=Detail&ID=A585735&LOCATION=ASTN" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="http://petharbor.com/get_image.asp?RES=Detail&ID=A585735&LOCATION=ASTN" alt="Third slide">
                </div>
                </div>
                <a class="carousel-control-prev" href="#dogSlideshow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#dogSlideshow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card text-white bg-primary">
        <div class="card-header"><h1>Mayla- 9 years</h1></div>
  <div class="card-body">
     <p class="card-text"> <h3>ID#A585735</h3> </p>
    <p class="card-text">I am a brown brindle and white, spayed female, who looks like a Boxer mix.</p>
      <p class="card-text">I am estimated to be 9 years old.</p>

    <p class="card-text">I am in kennel 101.</p>

    <p class="card-text">I have been at the shelter since Mar 01, 2019.</p>
      <h2>Shelter: <a href="{{ url_for('AAC') }}" class="btn bg-light" style="align-content: right">Austin Animal Center</a></h2>
    <h2>Breed: <a href="{{ url_for('breed_boxer') }}" class="btn bg-light" style="align-content: right">Boxer</a></h2>
    <h2>More info: <a href="http://www.PetHarbor.com/pet.asp?uaid=ASTN.A585735" class="btn bg-light" style="align-content: right">Mayla</a></h2>

  </div>
</div>
{% endblock %}
