{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="dogSlideshow" class="carousel slide mx-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#dogSlideshow" data-slide-to="0" class="active"></li>
                <li data-target="#dogSlideshow" data-slide-to="1"></li>
                <li data-target="#dogSlideshow" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner text-white">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/static/images/carousel-dog-1.jpg" alt="First slide">
                    <div class="carousel-caption">
                        <a href="{{url_for('dogs')}}"><h3>See available dogs!</h3></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/carousel-dog-2.jpg" alt="Second slide">
                    <div class="carousel-caption">
                        <a href="{{url_for('breeds')}}"><h3>Learn about breeds!</h3></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/carousel-dog-3.jpg" alt="Third slide">
                    <div class="carousel-caption">
                        <a href="{{url_for('shelters')}}"><h3>Visit shelters!</h3></a>
                    </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#dogSlideshow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#dogSlideshow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
<div class="jumbotron jumbotron-fluid bg-primary text-white">
                  <div class="container">
                    <h1 class="display-4">Find your Bestfriend!</h1>
                    <p class="lead">This site is your one-stop shop for finding pets in the Austin Area!.</p>
                    <p class="lead">To get started just choose a category in the Navigation bar!.</p>
                  </div>
                </div>
{% endblock %}
