{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
{% endblock %}

{% block title %}
    Shelters
{% endblock %}
{% block content %}
{% set shelters = [('AAC', 'Austin Animal Center',"/static/images/shelter_aac.jpg",'Visit Austin Animal Center'),('AHS', 'Austin Humane Society',"/static/images/shelter_ahs.png",'Visit Austin Humane Society'),('APA', 'Austin Pets Alive',"/static/images/shelter_apa.png",'Visit Austin Pets Alive')] -%}
    <style>
      .carousel-item{
        background-color: #7770;
      }
      .card {
        border: color(card.bg-primary);
      }
    </style>
    <style>
      .carousel-item{
        background-color: #7770;
      }
      .carousel-control-prev,
      .carousel-control-next{
          align-items: flex-end;; /* Aligns it at the bottom */
      }
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

    </style>
 <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Sort</button>
  <div id="myDropdown" class="dropdown-content">
    <a onclick="sortAsc(0)">Name: A-Z</a>
    <a onclick="sortDes(0)">Name: Z-A</a>
    <a onclick="reset()">Reset</a>
  </div>
</div> 
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
<script>
function sortAsc() {
$(document).ready(function(){
    $("#myCarousel").hide();
myCarousel2.hidden = false;
    $("#myCarousel2").show();
    $("#myCarousel3").hide();
});
}
</script>
<script>
function sortDes() {
$(document).ready(function(){
    $("#myCarousel").hide();
    $("#myCarousel2").hide();
myCarousel3.hidden = false;
    $("#myCarousel3").show();
});
}
</script>
<script>
function reset() {
$(document).ready(function(){
    $("#myCarousel").show();
    $("#myCarousel2").hide();
    $("#myCarousel3").hide();
});
}
</script>

    <div class="container-fluid">
      <h1 class="text-center mb-3">Austin Area Shelters</h1>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner row w-auto mx-0">
          <!-- CARDS -->
          {% for dogref, name, img, visit in shelters %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ img|e }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> "{{ name|e }}" </h4>
                  <a href='{{ url_for(dogref) }}' class="btn btn-primary">"{{ visit|e }}"</a>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div id="myCarousel2" class="carousel slide" data-ride="carousel" hidden>
        <div class="carousel-inner row w-auto mx-0">
          <!-- CARDS -->
          {% for dogref, name, img, visit in shelters|sort %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ img|e }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> "{{ name|e }}" </h4>
                  <a href='{{ url_for(dogref) }}' class="btn btn-primary">"{{ visit|e }}"</a>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div id="myCarousel3" class="carousel slide" data-ride="carousel" hidden>
        <div class="carousel-inner row w-auto mx-0">
          <!-- CARDS -->
          {% for dogref, name, img, visit in shelters|sort(true) %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ img|e }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> "{{ name|e }}" </h4>
                  <a href='{{ url_for(dogref) }}' class="btn btn-primary">"{{ visit|e }}"</a>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <script  src="../static/js/index.js"></script>
{% endblock %}

